:root{

}

body {
    
}

h1 {
    text-align: center;
    margin-top: 30vh;
}

.custom-timer {
    float:right;
}

#quiz-info {
    text-align:center;
}

#startbtn {
    margin-left:70vh;
}

#scoreB {
    float:inline-start;
}